p {
    font-size: 14px;
}

h2 {
    font-size: 30px;
    color: #233148;
    line-height: 2;
}

h3 {
    color: #383252;
    font-size: 13px;
    font-weight: bold;
}

.btn{
    font-size: 14px;
    padding: 12px 30px;
    border: none;
    border-radius: 7px;
}

.btn-primary {
    color: #233148;
    background-color: #00fff0;
}

.btn-primary:hover {
    background-color: #000;
    color: #00fff0;
}

.btn-outline-dark {
    border: 1px solid #fff;
    color: #fff;
}

.btn-outline-dark:hover {
    background-color: #fff;
    color: #000
}

.divider{
    display: block;
    background-color: #19ebe9;
    height: 4px;
    width: 100px;
}