@import url("./settings.css");

* {
    font-family: 'Dosis', sans-serif;
}

.header{
    background-color: #223047;
}

.header__title{
    font-size: 40px;
    color: #fff;
    margin-bottom: 60px;
}

.header__description{
    color: #97a4be;
    margin-bottom: 65px;
    line-height: 2;
}

.header__image{
    position: absolute;
    top: 150px;
}

.navbar {
    border-bottom: 1px solid #4e596c;
}
.nav-link{
    color: #fff;
    font-size: 14px;
}

.preview {
    position: relative;
    padding: 200px 0 110px 0;
}

.services {
    padding: 210px 0 120px 0;
}

.services-wrapper {
    margin-top: 75px
}

.services-title {
    margin-bottom: 80px;
}

.services-item{
    padding: 40px 32px;
    margin-bottom: 30px;
    border-radius: 3px;
    border: 3px solid #f7f8f8;
    line-height: 2;
    cursor: pointer;
}

.item-info-dicr {
    color: #97a4be;
    font-size: 14px;
}

.item-icon{
    margin-bottom: 40px;
}

.item-info-title{
    margin-bottom: 33px;
}